*{
    margin: 0px;
    padding: 0px;
}
.active
{width: auto;
    height: auto;
    
    color: rgb(238, 16, 16);
}
.header{
    background-color:  #5A87BC;
    height: 100px;
    font-weight: bold;
    
    position: fixed;
    width: 100%;
    
}
nav ul li{
    list-style-type: none;
    display: inline-block;
    padding: 5px;
    margin-top: 25px;
    margin-right: 25px;
}
.z{
    border-radius: 60px;
    margin: 25px;
    width: 75px;
    height: 75px;
    margin-top: 15px;
}
    


.menu li{
    float: right;
    padding: 15px;
}   

.B{
    margin-left: 10px ;
}
.menu li a{
    text-decoration: none;
}
h1{
    color: #5A87BC;
    text-align: center;
}
.tex{
    color: black;
    font-size: 31px;
    margin: 50px 120px;
    text-align: justify;
}
img{
    width: 1631px;
    height: 659px; 
    border-radius: 25px;
}
.a{
    
    display: flex;
    
    
    
    
   
    
}
h6{
    color: white;
    font-size: 18px;
}
p{
    color: white;
    font-size: 22px;

}
main{
    width: 100%;
    padding-top: 150px;
    
}
footer{
    background-color: black;
    width: 100%;
    height: 100px;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0;
}
body{
    margin: 0;
}
.description{
    display: flex;
}


    .li{
        width: 60px;
        height: 15px;
    
        box-shadow: 5px 6px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
        font-size: 15px;
        color:rgb(14, 2, 2);
        text-decoration: none;
        border-radius: 5px;
        background: #f5f6f8;
        
        cursor: pointer;
        display: flex;
        
        justify-content: center;
        margin-bottom: 10px;
       
    }