.bout button{

      width: 160px;
    height: 40px;
    margin: auto;
    border-style: outset;
    padding: 5px;
    color:black;
    text-decoration: none;
    border-radius: 10px;
    background: #5A87BC;
    font: bold 20px arial,sans-serif;
    cursor: pointer;
    display: flex;
    margin-top: 50px;
    justify-content: center;
    margin-left: 100px;

}

.a{
   background-color: #5A87BC;
   width: 70%;
   height: 70px;
   display: flex;
justify-content: center;

 
}
body{
     margin: 0;
    padding: 0;
    box-sizing: border-box;
    justify-content: center;
    display: flex;
    flex-wrap: wrap; 
    background-color:white;
}

.box{
    margin-top: 2px;
    width: 70%;
    background: #c0c0c0;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 40px;
    box-sizing: border-box;
}
.container{
  margin: 20px;
  box-sizing: border-box;
    justify-content: center;
    display: flex;
    flex-wrap: wrap; 
    background-color:white;
}
input{
    width: 340px;
    margin:  0;
    background-color: white;
   color: #000;
    padding: 10px 5px;
    font-size: 15px;
    font-weight: bold;
    box-sizing: border-box;
    border-radius: 3px;
}
h4{
    color:black;
}
h1{
    margin-top: -5px;
    text-align: center;
    color: black;
    font-size: 40px;
    line-height: 60px;
    margin-left: -5px;
  
}